<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form method="POST" action="/upload_info" enctype="multipart/form-data">
        <!-- Personal Details -->
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name"><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="pronouns">Pronouns:</label>
        <select type="text" id="pronouns" name="pronouns">
            <option value="" disabled selected>Select your pronouns</option>
            <option value="primary">She/her</option>
            <option value="secondary">He/him</option>
            <option value="tertiary">prefer not to disclose</option>
        </select><br><br>

        <label for="gender">Gender:</label>
        <select type="text" id="gender" name="gender">
            <option value="" disabled selected>Select your gender</option>
            <option value="primary">Female</option>
            <option value="secondary">Male</option>
            <option value="tertiary">Prefer not to disclose</option>
        </select><br><br>

        <label for="education_level">Education Level:</label>
        <select id="education_level" name="education_level" required>
            <option value="" disabled selected>Select your education level</option>
            <option value="primary">Primary</option>
            <option value="secondary">Secondary</option>
            <option value="tertiary">Tertiary</option>
        </select><br><br>

        <label for="mailing_address">Mailing Address:</label>
        <input type="text" id="mailing_address" name="mailing_address" required><br><br>

        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" required><br><br>

        <input type="submit" value="Upload">
    </form>

    <form method="POST" action="/upload_file" enctype="multipart/form-data">
      
        <!-- File Upload -->
        <label for="files">Upload Files:</label>
        <input type="file" id="files" name="files" multiple required><br><br>

        <input type="submit" value="Upload">
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <a href="{{ url_for('skillsgap_bp.skillsgap_report') }}">Skills Gap Report</a>
</body>
</html>