<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Skillsstyle.css">
    <script src="/static/SkillsGapReport.js"></script>
</head>
<body>
    <div class="container">

        <div id="navbar"></div>
        <div class="skills" style="z-index: 1000;">
            <div class="skills-header">
                <div class="skills-header-container">
                    <h1>Skills</h1>
                    <div class="insights">
                        <p>Insights</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="another-container">
            <div class="analyze-container">
                <img src="/static/Images/Polyline.png">
                <h2>Learning Path</h2>
            </div>
            <div class="insight-container">
                <img src="/static/Images/Light On.png">
                <h2>Your Suggestions</h2>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="main-content active">
            <div class="learning-container">
                <div class="column-container">
                    <div class="outside-diamond-container">
                        <div class="diamond-container">
                            <div class="diamond" style="background-color: #F0785A;" onclick="expandDiamond(this)">
                                <span class="diamond-text">01</span>
                            </div>
                            <div class="diamond-bottom-line" style="border-bottom: 7px solid #F0785A;"></div> 
                        </div>
                        <h3 style="color: #F0785A;">CERTIFICATES</h3> 
                    </div>
                
                    <div class="outside-diamond-container">
                        <div class="diamond-container">
                            <div class="diamond" style="background-color: #71C285;" onclick="expandDiamond(this)">
                                <span class="diamond-text">02</span>
                            </div>
                            <div class="diamond-bottom-line" style="border-bottom: 7px solid #71C285;"></div> 
                        </div>
                        <h3 style="color: #71C285;">DEGREES</h3>
                    </div>
                </div>

                <div class="column-container">
                    <div class="content-container" style="background-color: #F0785A;">
                        <div class="content-inside-container">
                            <div class="content-column-container">
                                <div class="title-container">
                                    <img src="/static/Images/titledesign.png">
                                    <h2>COURSERA</h2>
                                </div>
                                <img src="/static/Images/image 8.png">
                            </div>
                            <div class="content-column-container">
                                <h1>Course Title</h1>
                                <h3>Enter State name</h3>
                                <p> Descriptions</p>
                            </div>
                        </div>
                    </div> 
                    <div class="content-container" style="background-color: #71C285;">
                        <div class="content-inside-container">
                            <div class="content-column-container">
                                <div class="title-container">
                                    <img src="/static/Images/titledesign.png">
                                    <h2>COURSERA</h2>
                                </div>
                                <img src="/static/Images/image 8.png">
                            </div>
                            <div class="content-column-container">
                                <h1>Course Title</h1>
                                <h3>Enter State name</h3>
                                <p> Descriptions</p>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="column-container">
                    <div class="outside-diamond-container">
                        <div class="diamond-container">
                            <div class="diamond" style="background-color: #556080;" onclick="expandDiamond(this)">
                                <span class="diamond-text">03</span>
                            </div>
                            <div class="diamond-bottom-line" style="border-bottom: 7px solid #556080;"></div> 
                        </div>
                        <h3 style="color: #556080;">LICENSES</h3>
                    </div>
                
                
                    <div class="outside-diamond-container">
                        <div class="diamond-container">
                            <div class="diamond" style="background-color: #F0C419;" onclick="expandDiamond(this)">
                                <span class="diamond-text">04</span>
                            </div>
                            <div class="diamond-bottom-line" style="border-bottom: 7px solid #F0C419;"></div> 
                        </div>
                        <h3 style="color: #F0C419;">MISCELLANEOUS</h3>
                    </div>
                
                </div>
                <div class="column-container">
                    <div class="content-container" style="background-color: #556080;">
                        <div class="content-inside-container">
                            <div class="content-column-container">
                                <div class="title-container">
                                    <img src="/static/Images/titledesign.png">
                                    <h2>COURSERA</h2>
                                </div>
                                <img src="/static/Images/image 8.png">
                            </div>
                            <div class="content-column-container">
                                <h1>Course Title</h1>
                                <h3>Enter State name</h3>
                                <p> Descriptions</p>
                            </div>
                        </div>
                    </div> 
                    <div class="content-container" style="background-color: #F0C419;">
                        <div class="content-inside-container">
                            <div class="content-column-container">
                                <div class="title-container">
                                    <img src="/static/Images/titledesign.png">
                                    <h2>COURSERA</h2>
                                </div>
                                <img src="/static/Images/image 8.png">
                            </div>
                            <div class="content-column-container">
                                <h1>Course Title</h1>
                                <h3>Enter State name</h3>
                                <p> Descriptions</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            

    </div>
</body>
</html>